USE [master]
GO
/****** Object:  Database [UtilityServiceDB]    Script Date: 18.03.2026 6:51:24 ******/
CREATE DATABASE [UtilityServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UtilityServiceDB', FILENAME = N'C:\Users\Main\UtilityServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UtilityServiceDB_log', FILENAME = N'C:\Users\Main\UtilityServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UtilityServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UtilityServiceDB]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 18.03.2026 6:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[BuildingID] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine] [nvarchar](255) NOT NULL,
	[ManagementStart] [date] NULL,
	[FloorsCount] [int] NULL,
	[ApartmentsCount] [int] NULL,
	[BuildYear] [int] NULL,
	[TotalArea] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawDataImport]    Script Date: 18.03.2026 6:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawDataImport](
	[AddressText] [nvarchar](255) NULL,
	[MngDate] [date] NULL,
	[FloorCnt] [int] NULL,
	[ApartCnt] [int] NULL,
	[BYear] [int] NULL,
	[TotalSq] [decimal](18, 2) NULL,
	[OwnerName] [nvarchar](150) NULL,
	[OwnerPhone] [nvarchar](50) NULL,
	[ApartNum] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 18.03.2026 6:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[BuildingID] [int] NOT NULL,
	[ApartmentNumber] [nvarchar](10) NULL,
	[ResidentID] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ExecutorID] [int] NULL,
	[StatusID] [int] NULL,
	[CompletionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Residents]    Script Date: 18.03.2026 6:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Residents](
	[ResidentID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[BuildingID] [int] NULL,
	[ApartmentNumber] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.03.2026 6:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 18.03.2026 6:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.03.2026 6:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[RoleID] [int] NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([BuildingID], [AddressLine], [ManagementStart], [FloorsCount], [ApartmentsCount], [BuildYear], [TotalArea]) VALUES (1, N'пл, Выставочная, 40, Светлоград', CAST(N'2018-12-01' AS Date), 5, 70, 1985, CAST(2369.20 AS Decimal(10, 2)))
INSERT [dbo].[Buildings] ([BuildingID], [AddressLine], [ManagementStart], [FloorsCount], [ApartmentsCount], [BuildYear], [TotalArea]) VALUES (2, N'пл, Выставочная, 43, Светлоград', CAST(N'2019-07-01' AS Date), 5, 68, 1987, CAST(3702.80 AS Decimal(10, 2)))
INSERT [dbo].[Buildings] ([BuildingID], [AddressLine], [ManagementStart], [FloorsCount], [ApartmentsCount], [BuildYear], [TotalArea]) VALUES (3, N'пл, Выставочная, 45, Светлоград', CAST(N'2019-12-01' AS Date), 4, 68, 1990, CAST(3731.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Buildings] OFF
GO
INSERT [dbo].[RawDataImport] ([AddressText], [MngDate], [FloorCnt], [ApartCnt], [BYear], [TotalSq], [OwnerName], [OwnerPhone], [ApartNum]) VALUES (N'ул, 45 Параллель, 4/2, Ставрополь', CAST(N'2015-04-22' AS Date), 9, 52, 2001, CAST(1978.70 AS Decimal(18, 2)), N'', N'', N'')
INSERT [dbo].[RawDataImport] ([AddressText], [MngDate], [FloorCnt], [ApartCnt], [BYear], [TotalSq], [OwnerName], [OwnerPhone], [ApartNum]) VALUES (N'ул, Васильева, 1, Ставрополь', CAST(N'2015-04-22' AS Date), 9, 144, 1983, CAST(7950.40 AS Decimal(18, 2)), N'', N'', N'')
INSERT [dbo].[RawDataImport] ([AddressText], [MngDate], [FloorCnt], [ApartCnt], [BYear], [TotalSq], [OwnerName], [OwnerPhone], [ApartNum]) VALUES (N'ул, Доваторцев, 66/2, Ставрополь', CAST(N'2020-11-01' AS Date), 9, 102, 1984, CAST(3176.40 AS Decimal(18, 2)), N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([RequestID], [CreatedAt], [BuildingID], [ApartmentNumber], [ResidentID], [Description], [ExecutorID], [StatusID], [CompletionDate]) VALUES (1, CAST(N'2026-03-18T05:08:21.417' AS DateTime), 1, N'123', 4, N'ЫФВАВФАВААФ', 5, 3, CAST(N'2026-03-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Requests] ([RequestID], [CreatedAt], [BuildingID], [ApartmentNumber], [ResidentID], [Description], [ExecutorID], [StatusID], [CompletionDate]) VALUES (3, CAST(N'2026-03-18T05:36:50.863' AS DateTime), 2, N'12', 5, N'Test', 6, 1, CAST(N'2026-03-03T00:00:00.000' AS DateTime))
INSERT [dbo].[Requests] ([RequestID], [CreatedAt], [BuildingID], [ApartmentNumber], [ResidentID], [Description], [ExecutorID], [StatusID], [CompletionDate]) VALUES (4, CAST(N'2026-03-18T05:43:43.370' AS DateTime), 2, N'123', 4, N'Test2', 2, 2, NULL)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Residents] ON 

INSERT [dbo].[Residents] ([ResidentID], [FullName], [Phone], [BuildingID], [ApartmentNumber]) VALUES (1, N'Шевченко Ольга Викторовна', N'', 15, N'1')
INSERT [dbo].[Residents] ([ResidentID], [FullName], [Phone], [BuildingID], [ApartmentNumber]) VALUES (2, N'Мазалова Ирина Львовна', N'123234444', 15, N'2')
INSERT [dbo].[Residents] ([ResidentID], [FullName], [Phone], [BuildingID], [ApartmentNumber]) VALUES (3, N'Семеняка Юрий Геннадьевич', N'', 15, N'3')
SET IDENTITY_INSERT [dbo].[Residents] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (1, N'На рассмотрении')
INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (2, N'В работе')
INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (3, N'Выполнена')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [RoleID], [Login], [Password]) VALUES (1, N'Иванов Иван Иванович', 1, N'admin', N'admin')
INSERT [dbo].[Users] ([UserID], [FullName], [RoleID], [Login], [Password]) VALUES (2, N'Петров Петр Петрович', 2, N'worker1', N'1')
INSERT [dbo].[Users] ([UserID], [FullName], [RoleID], [Login], [Password]) VALUES (4, N'Васильев Василий Васильевич', 2, N'worker2', N'2')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B2FA7EEF8]    Script Date: 18.03.2026 6:51:24 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Buildings] ([BuildingID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([ExecutorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([ResidentID])
REFERENCES [dbo].[Residents] ([ResidentID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Residents]  WITH CHECK ADD FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Buildings] ([BuildingID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
USE [master]
GO
